body {
    background: rgb(247,236,255);
    background: linear-gradient(90deg, rgba(247,236,255,1) 0%, rgba(255,205,216,1) 60%, rgba(192,215,255,1) 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.center {
    margin-top: 20px; /* Adjust margin as needed */
    text-align: center;
    border: 1px solid green;
    padding: 20px; /* Add padding for better spacing */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.layout {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    margin: 0 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col-main {
    max-width: 60%;
}

.col-complementary {
    max-width: 35%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

img {
    border-radius: 50%;
}

form {
    text-align: left;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
