<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class = "center">
	

<h1>About</h1>
		<div th:if=${session.msg}>
			<h3 th:text="${session.msg}" style="color:red"></h3>
   		
   		<div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
   		</div>
   		<p>
			Welcome to VoteX, where democracy meets innovation! Our online voting platform is designed to revolutionize the way you engage in elections. Gone are the days of long lines and inconvenient polling stations. With VoteX, you have the freedom to cast your vote from anywhere, anytime, using your computer or smartphone. Whether you're participating in local elections, national referendums, or organizational polls, our platform ensures that your voice is heard loud and clear.

			At VoteX, we prioritize security and privacy above all else. We understand the importance of protecting your identity and ballot choices. That's why we employ state-of-the-art encryption techniques and robust authentication protocols to safeguard every vote. Rest assured, when you vote with VoteX, your privacy is our top priority.

			Transparency is fundamental to building trust in the electoral process. With VoteX, you can trust that every step of the voting process is transparent and auditable. From voter registration to ballot counting, our platform ensures integrity and accountability, providing you with confidence in the outcome of every election.

			Our user-friendly interface makes voting simple and intuitive for everyone. Whether you're a seasoned voter or a first-time user, our platform guides you through the voting process with ease. Say goodbye to confusion and hello to seamless voting experiences with VoteX.

			And with real-time results, you can track the progress of elections as they happen. Watch as voter turnout and ballot counting updates are tabulated and displayed instantly, giving you immediate insights into the outcome of the election.

			Join the millions of voters who have embraced the future of democracy with VoteX. Register now to participate in upcoming elections, make your voice heard, and shape the future of your community. Together, let's build a stronger, more inclusive society through the power of online voting.
		</p>


	<br>	
	</section>
</body>
</html>